[tool.black]
line-length = 100
target-version = ["py312"]

[tool.ruff]
line-length = 100
target-version = "py312"
extend-exclude = ["venv"]

[tool.ruff.lint]
select = [
  "E",
  "F",
  "I",
  "W",
  "UP",
  "B",
  "A",
  "COM",
]
ignore = [
  "E203",  # whitespace before ':'
]

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
line-ending = "lf"

